fastapi
uvicorn  # Server ASGI để chạy FastAPI
httpx
pymongo==3.6
motor #client MongoDB bất đồng bộ
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart # Xử lý file upload
vosk
ffmpeg-python
requests #Dùng để gọi API Hugging Face (blenderbot)
python-dotenv
assemblyai
gtts
huggingface_hub
google-generativeai
llama-cpp-python
minio # Lưu file âm thanh