fastapi
uvicorn  # Server ASGI để chạy FastAPI
python-multipart # Xử lý file upload
vosk
ffmpeg-python
requests #Dùng để gọi API Hugging Face (blenderbot)
python-dotenv
assemblyai
gtts
transformers
torch
huggingface_hub