#root {
    width: 100%;
    margin: 0;
    padding: 0;
}
.App {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

nav {
    background-color: #e0f7fa;
    padding: 10px;
    text-align: center;
    height: 40px;
    line-height: 20px;
}

.main-container {
    display: flex;
}

/* History sidebar */
.history-sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 10px;
}

/* Content : chứa chat và input */
.content {
    flex: 1;
}

/* Vocab sidebar */
.vocab-sidebar {
    width: 10%;
    background-color: #f0f0f0;
    padding: 10px;
}
